    <div ng-include src="'js/views/friend-header.html'"></div>
    <form id="form-update-friend" name="form-update-friend">
        <ul data-role="listview" data-inset="true">
            <li data-role="fieldcontain">
                <label for="input-friend-firstname">Firstname</label>
                <input ng-model="friend.firstname" type="text" class="validate[required]" name="firstname" id="input-friend-firstname" value=""/>

            </li>
            <li data-role="fieldcontain">
                <label for="input-friend-lastname">Lastname</label>
                <input ng-model="friend.lastname" type="text" class="validate[required]" name="lastname" id="input-friend-lastname" value=""/>

            </li>
            <li data-role="fieldcontain">
                <label for="input-friend-registrationDate">Registration Date</label>
                <input ng-model="friend.registrationDate" type="text" data-type="date" class="validate[required]" name="registrationDate" id="input-friend-registrationDate" value=""/>

            </li>
        </ul>
        <h1>{{friend.firstname}}-{{friend.lastname}}</h1>
        <input ng-model="friend.id" type="hidden" name="id" id="input-friend-id"/>
        <input ng-model="friend.version" type="hidden" name="version" id="input-friend-version"/>
        <input ng-model="friend.class" type="hidden" name="class" id="input-friend-class"/>
    </form>

    <div ng-include src="'js/views/friend-footer.html'"></div>
